<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- 
	namespace:名称空间;指定为接口的全类名 ,使 dao接口和 sql映射文件动态绑定
-->
<mapper namespace="com.iceron.mybatis.dao.EmployeeMapper">
	<!-- //测试分页查询
	public List<Employee> getEmps(); -->
	<select id="getEmps" resultType="emp2">
		select id, last_name, gender, email
		from tbl_employee
	</select>

</mapper>





